@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Inter&display=swap");

#dropdown-search {
  z-index: 1;
}

img.img-fluid {
  object-fit: contain;
  max-height: 60px;
  max-width: 100px;
}

.form-check-input {
  width: 30px !important;
  height: 30px !important;
}

.form-check-input:checked {
  background-color: green !important;
  border-color: green !important;
}

.btn-width {
  min-width: 40px !important;
  min-height: 40px !important;
}

div {
  font-family: "Inter", sans-serif;
}

h1 {
  font-family: "Pacifico", cursive;
}

div.col {
  min-height: 50px;
}

#dropdown-search {
  left: 0;
  right: 0;
}
